---
import { Separator } from "./ui/separator";
import { ModeToggle } from "./ModeToggle";
import { ChevronRight } from "lucide-react";

const pathname = Astro.url.pathname;
const paths = pathname.split("/");
---

<nav class="ml-10 flex h-16 shrink-0 items-center gap-2 justify-between transition-[width,height] ease-linear group-has-[[data-collapsible=icon]]/sidebar-wrapper:h-12">
  <div class="flex items-center gap-2 px-2">
    {paths[1] ?
      <Separator orientation="vertical" className="mr-2 h-4" /> : null
    }
    <ol class="flex flex-row text-muted-foreground text-sm items-center tracking-wide">
      <li>
        <a class="cursor-pointer transition-colors hover:text-foreground" href={`/${paths[1]}`} aria-label=`Return to ${paths[1]}`>{paths[1]}</a>
      </li>
      {paths[2] ?
        <li><ChevronRight orientation="vertical" className="mx-2 h-3.5 w-3.5" /></li> : null
      }
      <li>
        <a class="cursor-pointer transition-colors hover:text-foreground" href={`/${paths[2]}`} aria-label=`Return to ${paths[2]}`>{paths[2]}</a>
      </li>
    </ol>
  </div>
  <div class="px-4">
    <ModeToggle client:idle/>
  </div>
</nav>
